.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* NAVBAR & BUTTON  */
.nav-container {
  background-color: #AAD4E3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 5rem;
  max-width: 73rem;
  align-items: center;
  padding: 10px 4rem;
}

.logo {
  height: 70px;
}

.btn-signin {
  background-color: white;
  border: 8px;
  border-radius: 25px;
  padding: 12px 22px;
  cursor: pointer;
  color:#57BADD;
  font-weight: 600;
  font-size: 20px
} 

.right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  flex-wrap: wrap;
}

.right-nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px
}

/* MAIN TEXT CONTAINER - LS */
.main-container {
  max-width: 73rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 60px;
}

.text-content h1 {
  color: #424141;
  font-size: 75px;
  font-weight: bold;
  max-width: 556px;
}

.text-content h1 {
  color: #424141;
  font-size: 75px;
  font-weight: bold;
  max-width: 556px;
  padding-bottom: 30px;
}

.text-content h3 {
  color: #424141;
  font-size: 32px;
  font-weight: medium;
  max-width: 495px;
  padding-bottom: 30px;
  line-height: 48px;
}

.btn-create {
  background-color: #57BADD;
  border: 8px;
  border-radius: 25px;
  padding: 17px 22px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

/* MAIN CAROUSEL CONTAINER - RS */
.carousel-container {
  max-width: 600px;
}

/* CAROUSEL */
.carousel {
  position: relative;
  width: 100%;
}
.carousel-img {
  width: 100%;
  height: 550px;
  padding-bottom: 40px;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.carousel-buttons button {
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #ddd;
  border: none;
  border-radius: 50%;
}
.carousel-buttons button.active {
  background: #57BADD;
  line-height: 0;
}

/* FOOTER */
footer p{
  margin: 0 auto;
  padding-top: 7rem;
  text-align: center;
}